
@if (@Model.Stock > 0)
{
    <div class="card parent" style="width: 25rem; height: 45rem; border-radius: 3px; margin:10px 10px 10px 10px; text-align:center; background-color : rgb(255, 255, 255);">
        <a href="/Products/Show/@Model.ProductID">
            @if (User.IsInRole("Admin"))
            {
                if (Model.Visible)
                {
                    <i id="vizibil" class="glyphicon glyphicon-eye-open"></i>
                }
                else
                {
                    <i id="vizibil" class="glyphicon glyphicon-eye-close"></i>
                }


            }
            <img class="card-img-top" src="/Files/@Model.File.FileName" alt="Card image cap" style="width: 70%; height: auto; margin-left: auto; margin-right: auto; display: block">
            <div class="card-body title" style=" text-align: center;">
                <h5 class="card-title" style=" padding:0px 30px 0px 30px; ">
                    @{
                        int nr = 0;

                        foreach (string word in Model.ProductName.Split(' '))
                        {
                            nr = nr + word.Length + 1;
                            if (nr > 65)
                            {
                                break;
                            }
                            string sp = " ";
                            @word
                            @sp
                        }
                    }
                </h5>

            </div>

            <div class="card-footer">
                <div class="show-rating">
                    <p class="card-text">Rating: @Math.Round(@Model.AvgRating, 2) /5</p>
                    <div>
                        @for (int i = 1; i <= Model.AvgRating; i++)
                        {
                            <span class="glyphicon glyphicon-star gold-star"></span>
                        }
                        @for (int i = (int)Model.AvgRating + 1; i <= 5; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty grey-star"></span>
                        }
                    </div>
                </div>

                <p class="card-text price">@Model.Price Lei</p>


                <form method="post" action="/CartLine/New">


                    <input type="hidden" name="ProductID" value="@Model.ProductID" />

                    
                    <div class="wrapper">
                        <button class="btn btn-primary " type="submit" style="background-color:#134074;"><i class="glyphicon glyphicon-shopping-cart"></i> Adauga in cos</button>
                    </div>
                </form>

            </div>
        </a>
    </div>
}

else
{
    <div class="card parent" style="width: 25rem; height: 45rem; border-radius: 3px; margin:10px 10px 10px 10px; text-align:center; background-color:rgba(255, 255, 255, .3);">
        <a href="/Products/Show/@Model.ProductID">
            @if (User.IsInRole("Admin"))
            {
                if (Model.Visible)
                {
                    <i id="vizibil" class="glyphicon glyphicon-eye-open"></i>
                }
                else
                {
                    <i id="vizibil" class="glyphicon glyphicon-eye-close"></i>
                }


            }
            <img class="card-img-top" src="/Files/@Model.File.FileName" alt="Card image cap" style="width: 70%; height: auto; margin-left: auto; margin-right: auto; display: block">
            <div class="card-body title" style=" text-align: center;">
                <h5 class="card-title" style=" padding:0px 30px 0px 30px; ">
                    @{
                        int nr = 0;

                        foreach (string word in Model.ProductName.Split(' '))
                        {
                            nr = nr + word.Length + 1;
                            if (nr > 65)
                            {
                                break;
                            }
                            string sp = " ";
                            @word
                            @sp
                        }
                    }
                </h5>

            </div>

            <div class="card-footer">
                <div class="show-rating">
                    <p class="card-text">Rating: @Math.Round(@Model.AvgRating, 2) /5</p>
                    <div>
                        @for (int i = 1; i <= Model.AvgRating; i++)
                        {
                            <span class="glyphicon glyphicon-star gold-star"></span>
                        }
                        @for (int i = (int)Model.AvgRating + 1; i <= 5; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty grey-star"></span>
                        }
                    </div>
                </div>

                <p class="card-text price">@Model.Price Lei</p>

                <p style="color:red; font:bold;">Produs indisponibil!</p>
               

            </div>
        </a>
    </div>
}
