

<div class="panel-heading"><strong>@Model.ProductName</strong></div>
<div class="panel-body">
    <strong>Descriere produs: </strong>@Model.Description
    <br />
    <strong>@Model.Price Lei</strong>
    <br />
    <i class="glyphicon glyphicon-list"></i> @Model.Category.CategoryName
    <i class="glyphicon glyphicon-heart-empty"></i> @Model.Animal.Species
    <br />
    <span class="label label-info">@Model.Stock Produse disponibile</span>
    <span class="label label-success">@Model.Date</span>
</div>
<br />