
@model The_Pet_Mansion.Models.Class1

<h2>Modificare produs</h2>

@using (Html.BeginForm("Edit", "Products",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, null, new { @class = "text-danger" })

    @Html.Hidden("Product.ProductID")

    @Html.Label("Product.ProductName", "Denumire Produs")
    <br />
    @Html.Editor("Product.ProductName", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Product.ProductName, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Product.Description", "Descriere produs")
    <br />
    @Html.EditorFor(m => m.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Product.Description, null, new { @class = "text-danger" })
    <br /><br />
    @Html.Hidden("Product.Date")

    @Html.Label("Product.Price", "Pret produs")
    <br />
    @Html.EditorFor(m => m.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Product.Price, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Product.Stock", "Cantitate produs")
    <br />
    @Html.EditorFor(m => m.Product.Stock, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Product.Stock, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Selectati categoria")

    @Html.DropDownListFor(m => m.Product.CategoryID, new SelectList(Model.Product.Categories, "Value", "Text"),
        "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.CategoryID, null, new { @class = "text-danger" })
    <br />


    @Html.Label("Selectati animalul caruia ii este destinat produsul")
    @Html.DropDownListFor(m => m.Product.AnimalID, new SelectList(Model.Product.Animals, "Value", "Text"),
        new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.AnimalID, null, new { @class = "text-danger" })
    <br />

    if (User.IsInRole("Admin"))
    {
        @Html.Label("Selectati daca produsul este vizibil pentru utilizatori")
        @Html.DropDownListFor(m => m.Product.Visible, new SelectList(new[]
                        {

                       new SelectListItem { Value = "false", Text = "False" },
                       new SelectListItem { Value = "true", Text = "True" },
                   },
                        "Value",
                        "Text"
                        ),
                 new { @class = "form-control" })
    }

    <label>Alegeti un fisier</label>
    <input type="file" name="UploadedFile" />
    
    <br />


    <br />
    <button class="btn btn-success" type="submit">Modifica produs</button>
}

