@model The_Pet_Mansion.Models.Class1

@{
    ViewBag.Titlu = "New";
}
<h2>Adaugare produs</h2>
@using (Html.BeginForm("New", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(false, null, new { @class = "text-danger" })

    @Html.Label("Product.ProductName", "Denumire produs")
    <br />
    @Html.TextBox("Product.ProductName", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.ProductName, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Product.Description", "Descriere produs")
    <br />
    @Html.TextArea("Product.Description", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.Description, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Product.Price", "Pret produs")
    <br />
    @Html.TextBox("Product.Price", 0, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.Price, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Product.Stock", "Cantitate adaugata")
    <br />
    @Html.TextBox("Product.Stock", 0, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.Stock, null, new { @class = "text-danger" })
    <br /><br />


    @Html.Label("Selectati categoria")
    @Html.DropDownListFor(m => m.Product.CategoryID, new SelectList(Model.Product.Categories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.CategoryID, null, new { @class = "text-danger" })
    <br /> <br />
    @Html.Label("Selectati animalul pentru care este destinat produsul")
    @Html.DropDownListFor(m => m.Product.AnimalID, new SelectList(Model.Product.Animals, "Value", "Text"), "Selectati animalul", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Product.AnimalID, null, new { @class = "text-danger" })
    <br />
    <br />
    if (User.IsInRole("Admin"))
    {
        @Html.Label("Selectati daca produsul poate fi vizibil utilizatorilor:")
        @Html.DropDownListFor(m => m.Product.Visible, new SelectList(new[]
                  {

                      new SelectListItem { Value = "false", Text = "False" },
                      new SelectListItem { Value = "true", Text = "True" },
                  },
                  "Value",
                  "Text"
                  ),
           new { @class = "form-control" })
    }
    <label>Alegeti un fisier</label>
    <input type="file" name="UploadedFile" />

    <br />

    <button class="btn btn-success" type="submit">Adauga produs</button>
}

 